@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
width: 100vw;
height: 100vh;
overflow: hidden;
}


.menu-mobile {
  @apply h-screen fixed top-0 right-0 z-50;
  background: rgba(0, 0, 0, 0.7);
  width: 60%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu-mobile.open {
  transform: translateX(0);
}


